# 3. sınf notu tahmini

In [1]:
import pandas as pd

In [2]:
from pycaret.regression import*

In [8]:
df=pd.read_excel('Mat.csv')
# dosya okundu

In [9]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [11]:
setup(data=df,target='G3')

In [12]:
best_model=compare_models()

In [13]:
best_model=create_model('gbr')

In [14]:
import joblib

In [15]:
joblib.dump(best_model,'ogrenci_sinav3.joblib')

['ogrenci_sinav3.joblib']

In [ ]:
#source   zafer acar noları